body{
    margin: 0px;
    border: 0px;
}
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.contentColumn{
    height: 100vh;
}
.contentColumnGame{
    width: 40vw;
}
.contentColumnChat{
    width: 20vw;
}
.gameBoardContainer{
    width: 40vw;
}
.gameBoard{
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-columns: 3vw 3vw 3vw 3vw 3vw 3vw 3vw 3vw 3vw 3vw;
    grid-template-rows: 3vw 3vw 3vw 3vw 3vw 3vw 3vw 3vw 3vw 3vw;
}
.mapTile{
    background-color: aqua;
    width: 3vw;
    height: 3vw;
}
.mapTile:hover{
    filter: brightness(85%);
    cursor: pointer;
}
.playerUtilsContainer{
    width: 40vw;
    height: 100%;
}
.opponentUtilsContainer{
    width: 40vw;
    height: 100%;
    text-align: center;
}
.attackButton{
    width: 16vw;
    height: 4vw;
    margin-top: 6vw;
}
.playerShipsContainer{
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}
.playerShipContainer{
    margin-top: 6vw;
    width: 3vw;
    height: 15vw;
    display: grid;
    grid-template-rows: 3vw 3vw 3vw 3vw 3vw;
}